<% content_for :title do %>Blog<% end %>
<div class="panel" id="content">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quasi nisi a animi rem suscipit sequi temporibus doloremque itaque id ipsa consequatur voluptatum, autem officiis dolore sit excepturi ratione quod.<button class="button-default">submit</button></p>
</div>