<% content_for :title do %>Blog<% end %>
<ul class="small-block-grid-3" id="blogblockgrid">
<% Blog.all.each do |b|%>
 
  		<%if b.published %>
	  		<%= link_to blog_show_path(:id => b.id)  do %>

	 			<li class="flipcontainer" id="blogflip"><div class="flip"><div class="back"><p><%= b.title %></p></div> <div class="front" style="background-image: url(<%=image_url(b.thumbnail)%>);"></div></div></li><% end %>
	 		<% end %>
		<% end %>
</ul>