<div class="flipcontainer" id="mainflip">
	<div class="flip">
		
	<div class="front" style="background-image: url(<%=image_url('nf.png')%>);"> </div>
	<div class="back container"> 
	<h1><b>NARSH &#x00B7; FAR</b></h1>
	<p class="mediumfont">
	The first Kingdom of the internet. Established in 2015 as a community for all internet inhabitants intrested in fun and friendship, and maybe a bit of trolling.
	</p>
	
	<h1><b>NA &#x00B7; FAR &#x00B7; IANS </b></h1>
	<p class="mediumfont">
	Citizens of the First Internet Kingdom known as Narshfar.
	</p>
	</div>

	</div>
</div>