<div class="banner"></div>


<div class="panel" id="splashpagecontent">
	<a href="#" data-reveal-id="video" class="button round"><h1 id="modaltitle">What is narshfar? </h1></a>

	<div id="video" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<h2 class="modalTitle">Narshfar</h2>
	<p class="lead">who we are.</p>
	<div class="flex-video">
        <iframe width="560px" height="315px" src="//www.youtube.com/embed/AylAheDX4Rg" frameborder="0" allowfullscreen></iframe>
	</div>
	<a class="close-reveal-modal" aria-label="Close">&#215;</a>

	</div>

	<p>Well now that you know, only one thing to do:</p>
	<%= link_to "Sign Up", new_user_registration_path, :class => "button radius"%>
	 OR 
	<%= link_to "Sign In", new_user_session_path, :class => "button radius"%>
	<hr>
	<p>Or jump right in:</p>

	<%= link_to "Enter", spage_path(:id => "home"), :class => "button radius"%>
</div>