
.flipcontainer:hover .flip, .flipcontainer.hover .flip {
	transform: rotateY(180deg);
}

#mainflip{
	@include flip-container(80%, 60%);
	position:relative;
	left: 10%;
	top: 20%;

	.flip, .front, .back {
		@include flip-front-back(1s);
	}

	.front { 
		@include flip-front();
	}

	.back { 
		@include flip-back();
		  p{
			 position:relative;
		 	 width:80%;
		 	 left: 10%;
			 font-size: 2vw;
			 line-height: 110%;
			 margin-bottom: 2%;
		  }
		  h1{
			 position:relative;
		 	 width:100%; 
			 font-size: 3vw;
		  }
		 }
}

#blogflip{
	@include flip-container(inherit, 30%);
	position: relative;

	.flip, .front, .back {
		@include flip-front-back(1s);
	}

	.front { 
		@include flip-front();
	}

	.back { 
		@include flip-back();
		display: table;
		  p{
		  display: table-cell;
		  vertical-align: middle;
		  text-align: center;
		  font-size: 3vw;
			}
	}
}



