// Place all the styles related to the StaticPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 #blogblockgrid {
 border: solid;
 position: relative;
 width: 100%;
 height: 100%;
 $spacing: 10%;

	 }

main {
	width: 100%;
	height:100%;

  }

.content {
@include six-columns-centered;
  background-color: #D6C36D;
  left: 25%;
  height: 90%;
  top: 2.5%;
  @include border-radius(20px);
	
}
  
 body {

background-image: url(asset-path('bricks.png'));
background-repeat: repeat;
}



@import 'flip';


