// Place all the styles related to the StaticPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*main {
	width: 100%;
	height:100%;

  }

.content {
@include six-columns-centered;
  background-color: #D6C36D;
  left: 25%;
  height: 90%;
  top: 2.5%;
  @include border-radius(20px);
	
}
  
 .mainbody {

background-image: url(asset-path('imgo.jpg'));
background-repeat: no-repeat;
   -webkit-background-size: 100%;
   background-size: 100%;
}



@import 'flip';

 #blogblockgrid {
 border: solid;
 position: relative;
 width: 100%;
 height: 100%;
 $spacing: 10%;
	 }
   */
  body {
          background-color: gray;
  }
  #homecontainer {
      position: absolute;
      width: 100%;
      height: 100%;

      .row {
        @include large-row;
        position: relative;
      }
  }

  #footer {
    position: relative;
    bottom: 0px;
    left: 0px;
    text-align: center;
  }

  .panel {
        position: relative;
        height: 100%;
      }

  .button-group {
    a {
      @extend .radius;
      @extend .button;
      font-size: 1vw;
    }
  }

  #banner {
    text-align: center;
    position: relative;
    height:10%;
  }
    
  #news {
    text-align: center;
  }
  #profilebutton, #navbutton {
    border-style: solid;
  }

  #profilearea {
    position: fixed;
    border-style: solid;
    height: 100%;
    right: 0px;


  }


   @import 'splashpage';
